.form1 {
    text-align: center;
    position: center;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
    background-color: rgb(176, 169, 169);
}
input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
    background-color: rgb(176, 169, 169);
}
input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=email]:focus {
    border: 3px solid #555;
    background-color: rgb(176, 169, 169);
}
.submitButton {
    width: 35%;
    font-family: "Droid Sans Mono", monospace;
    font-weight: bold;
    text-decoration: #555555;
    font-size: medium;
    letter-spacing: 4px;
    transition: 0.5s;
}
.submitButton:hover{
    background: rgb(33, 32, 32);
    color: white;
    border: 10px solid rebeccapurple;
}